* {
    box-sizing: border-box;
  }
  /* :root {
    --border-radius: 50rem;
  } */
  /* body {
	-webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--active-color);
  transition: background 1.5s ease;
} */
/* .tabs-component {
    max-width: 800px;
    margin: auto;
    background: var(--white);
    padding: 40px;
    border-radius: var(--border-radius);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  } */
  
  .tab-links {
    padding: 0;
    margin: 0 auto 20px;
    list-style: none;
    /* max-width: 40em; */
    display: flex;
    justify-content: space-between;
  }
  
  .tab {
    position: relative;
    padding: 0.5em 0.5em;
  }
  
  .tab a {
    text-decoration: none;
    /* color: var(--activeFontColor);
    transition: color 0.4s ease; */
  }
  
  /* .tab::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    border-radius: var(--border-radius);
    background: none;
    transition: background 0.5s ease;
  } */
  
  .tab span {
    font-weight: 700;
    margin: 0 auto;
    color: var(--activeFontColor);
    transition: color 0.5s ease;
  }
  
  .tab.active {
    border-radius: 50rem;
    /* width: 9em; */
    /* padding: 0.5em 0.5em; */
    background: var(--btnBgColor);
    /*transition for bg is not working as expected*/
    transition: all 2s ease-in;
  }
  .tab.active span {
    color: var(--fontColor);
    transition: color 0.6s ease-in;
  }
  .tab a {
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    position: relative;
  }
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }