/* Mobile devices */
@media screen and (max-width: 480px){
    .text h3,.text p{
        font-weight: 600;
        font-size: medium;
    }
    h1{
        font-weight: bolder;
        font-size: large;
    }
}